/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

#app{
  margin:40px;
}
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

button, input{
  color:#000;
}
button{
  margin-left:10px;
}
ul{
  list-style: none;
   padding:0;
}

.addCategory{
  margin-bottom: 20px;

}
.category-header{
  width: 100%;
  background-color: #000;
}

.todo-list{
  margin-top: 15px;
  margin-bottom: 20px;
}
.category-header h2{
  display: inline-block;
  padding:0px 10px;
  line-height: 4px;
}
.todo-label.checked{
  text-decoration: line-through;
}
.delete-cat{
  position: absolute;
  right:10px;
  top:0px;
  margin-top:15px;
  text-align: right;
  display: inline-block;
}
.addTodo{
  
}
.addTodo .pure-form input{
    padding: 0.3em 0.3em;
    font-size: 14px;
    margin-top:15px;
}
.inner-category{
  position: relative;
  overflow: hidden;
  margin-left:30px;
}

.inner-category button{
  padding: 0.4em 0.5em;
    font-size: 14px;
}
.inner-category.closed{
  max-height:0;
  transition: max-height 0.4s ease-out;
}
.inner-category.open{
  max-height:500px;
  transition: max-height 0.4s ease-in;
}

.category-container{
  overflow: hidden;
  border:1px solid #666;
  position: relative;
  width: 60%;
  background-color: #666;
  margin-bottom: 0px;
}
.toggle-expand{
  position: absolute;
  padding: 0.2em 0.5em;
  right:10px;
  top:9px;
}

.example-enter {

  max-height:0;
}

.example-enter.example-enter-active {

  max-height:500px;
  transition: all 900ms ease;
}

.example-leave {

  max-height:500px;
}

.example-leave.example-leave-active {

  max-height:0;
  transition: all 300ms ease;
}
